<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event List</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <style>
        .event-details {
            margin-bottom: 20px;
        }
        ul {
            list-style: none; /* Supprime les puces */
            padding: 0;
        }

    </style>
</head>
<body>
<div class="container">
    <h1 class="mt-5">Liste des événements</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col" th:each="event : ${listEvents}">
            <div class="card event-details">
                <div class="card-header">
                    <h2 th:text="${event.title}">Event Title</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <ul>
                                <li th:each="file : ${event.filePath}" th:if="${event.filePath.indexOf(file) == 0}">
                                    <img class="img-fluid" th:src="@{/uploads/{filename}(filename=${event.filePath[0].fileName})}" alt="Event Image" th:alt="${event.filePath[0].fileName}"/>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <p><strong>Description:</strong> <span th:text="${event.description}">Event Description</span></p>
                            <p><strong>Date:</strong> <span th:text="${event.date}">Event Date</span></p>
                            <p><strong>Location:</strong> <span th:text="${event.location}">Event Location</span></p>
                            <p><strong>Organizer:</strong> <span th:text="${event.organizerId.getUsername()}">Organizer Name</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-pills">
        <li th:each="page,status:${pages}">
            <a
                    th:href="@{/index(page=${status.index},keyword=${keyword})}"
                    th:class="${currentpage == status.index? 'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                    th:text="${status.index}">

            </a>
        </li>
    </ul>
</div>
</body>
</html>
